{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "AzureWebJobsStorage": "",

    "BlogPvServicerAccount": "",
    "HatebuViewId": "",
    "QiitaViewId": "",

    "MixiPostMail": "",
    "MixiPostMailPassword": "",
    "MixiPostMailTo": "",

    "SlackDiaryOAuthAccessToken": ""
  }
}